*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  color: #52514f;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: min-content 90vh repeat(8, min-content);
  grid-template-columns: repeat(8, 1fr); }

.heading-primary, .heading-secondary, .heading-tertiary {
  font-family: "Josefin Sans";
  font-weight: 800; }

.heading-tertiary {
  font-size: 1.9rem; }

.header {
  background-color: chocolate;
  grid-column: 1 / -1;
  justify-content: center;
  justify-items: center;
  align-content: center;
  font-size: 4.8rem;
  text-align: center;
  padding: 25rem; }
  .header svg {
    height: 2rem;
    width: 2rem;
    margin: 0 0.5rem;
    position: relative; }
  .header__title {
    text-align: center;
    padding: 0; }
  .header__subtitle {
    font-size: 3rem; }
  .header__button {
    font-size: 3rem;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #c70f0f; }
  .header__link {
    font-size: 3rem; }

.navigation {
  background-color: aqua;
  grid-column: 1 / -1;
  justify-content: flex-end;
  place-self: right; }
  .navigation__list {
    display: grid;
    position: relative;
    list-style: none;
    align-items: end;
    grid-template-columns: 1fr min-content min-content;
    text-align: right;
    padding: 0.5rem; }
    .navigation__list-item {
      text-align: right;
      padding: 0.5rem; }

.projects {
  background-color: blueviolet;
  grid-column: 2 / 8;
  margin: 10rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem; }

.project-box {
  background-color: darkgoldenrod;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
  justify-content: center;
  margin: 1rem; }
  .project-box__img {
    max-width: 100%;
    height: auto; }

.skills {
  background-color: #aaa;
  grid-column: 2 / 8; }
  .skills li {
    list-style: none; }
