.header {
    background-color: chocolate;
    grid-column: 1 / -1;
    justify-content:center;
    justify-items: center;
    align-content: center;
    font-size: 4.8rem;
    text-align: center;
    padding: 25rem;

    svg {
       height: 2rem;
       width: 2rem;
       margin: 0 0.5rem;
       position: relative;
    }

    &__title {
        text-align: center;
        padding: 0;

    }

    &__subtitle {
        font-size: 3rem;

    }

    &__button {
        font-size: 3rem;
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: $color-secondary;

    }

    &__link {
        font-size: 3rem;
    }
}
